@model DataAccess.Author 

@{
    ViewBag.Title = "Author Information";
}

<h2>Author Information</h2>
<p>
    First Name: @Model.FirstName <br />
    Last Name: @Model.LastName <br />
    Bat Phone: @Model.BatPhone <br />
    SSN: @Model.SSN <br />
</p>