@{
    ViewBag.Title = "Crypto";
}

<h2>Crypto</h2>
<form action=Details>
    <div>Encryption Key: <input type="text" name="encKey" /><br />
    <input type=submit name="Submit" value="Submit" />
    </div>
</form>

