<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="pubsEntities" connectionString="metadata=res://*/pubs.csdl|res://*/pubs.ssdl|res://*/pubs.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQL_2008;Initial Catalog=pubs;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataAccess.Properties.Settings.pubsConnectionString"
      connectionString="Data Source=.;Initial Catalog=pubs;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DataAccess.Properties.Settings.pubsConnectionString1"
      connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>